.idea/
*.iml
target/
pom.xml.tagName
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
src/main/webapp/font/cityscape font.ttf
*.synctex.gz
*.aux
