@import url(https://fonts.googleapis.com/css?family=Lobster);

/*
@import url(https://fonts.googleapis.com/css?family=Lobster|Pacifico);


@font-face {
    font-family: bookStoreFont;
    src: url("../font/cityscape font.ttf");
}
*/

body {
    background-color: #000000;
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    background: url("../BookStore_Material/img/book_1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.fancyTitleFont {
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Lobster', cursive;
}


#searchIcon{
    margin-left: 10px;
}