@import url(https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css);
@import url(https://fonts.googleapis.com/css?family=Lobster);

/*
@import url(https://fonts.googleapis.com/css?family=Lobster|Pacifico);


@font-face {
    font-family: bookStoreFont;
    src: url("../font/cityscape font.ttf");
}
*/

body {
    background-color: #000000;
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    background: url("../img/book_0.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.search-bar {
    padding: 5px;
    width: 100%;
    margin: 0;

    text-align: center;
    position: fixed;
    background-color: rgba(55, 58, 70, 1);
}

.contentDiv{
    margin-top: 10%;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    width: 80%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}

#book-position {
    /* Center the text on the bottom of the Screen */
    position: fixed;
    bottom: 0;
    margin-bottom: -15px;
    width: 100%;
    text-align: center;
}

.fancyTitleFont {
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Lobster', cursive;
}
