@import url(https://fonts.googleapis.com/css?family=Lobster);

/*
@import url(https://fonts.googleapis.com/css?family=Lobster|Pacifico);


@font-face {
    font-family: bookStoreFont;
    src: url("../font/cityscape font.ttf");
}
*/

body {
    background-color: #000000;
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    background: url("../img/book_1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.fancyTitleFont {
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Lobster', cursive;
}


.midIcon{
    margin-left: 10px;
    margin-top: 15px;
}

.resize {
    width: 150px;
    height: auto;
    margin: auto;
}
.card-panel-small{
    padding:10px !important;
    margin-left: 10px;
    line-height: 20px;
}
#list_body{
    margin-left: 30px;
    margin-right: 30px;
}

.detailPane{
    margin: 8px;
    padding: 15px;
    background-color: rgba(244, 244, 244, 0.9);
    border-radius: 5px;
}
.rightTop{
    bottom: 45px;
    right: 24px;
}

